
/* catalogue*/

.wrapper {
    /*section catalogue des cours*/
    background-color: #caeaee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 120px;
    padding-left: 300px;
}

.wrapper h3 {
    /*titre catalogue des cours*/
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    font-size: 30px;
}

.box-catalogue h6 {
    /*titres cours*/
    margin-left: 122px;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 120px;
}

.box-catalogue .ma_grille div {
    background-color: #C4C4C433;
}

.ma_grille {
    background-color: #132325;
    display: grid;
    grid-template-areas: "a a a";
    grid-gap: 80px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 120px;
    margin-right: 120px;
}

.premier_cours {
    grid-column: 1/1;
    grid-row: 1/3;
    box-shadow: 10px 10px #caeaee;
}

.deuxieme_cours {
    grid-column: 2/2;
    grid-row: 1/3;
    box-shadow: 10px 10px #caeaee;
}

.toisieme_cours {
    grid-column: 3/3;
    grid-row: 1/3;
    box-shadow: 10px 10px #caeaee;
}

.quatrieme_cours {
    grid-column: 1/1;
    grid-row: 3/5;
    box-shadow: 10px 10px #caeaee;
}

.cinqieme_cours {
    grid-column: 2/2;
    grid-row: 3/5;
    box-shadow: 10px 10px #caeaee;
}

.sixieme_cours {
    grid-column: 3/3;
    grid-row: 3/5;
    box-shadow: 10px 10px #caeaee;
}

.septieme_cours {
    grid-column: 1/1;
    grid-row: 5/7;
    box-shadow: 10px 10px #caeaee;
}

.huitieme_cours {
    grid-column: 2/3;
    grid-row: 5/7;
    box-shadow: 10px 10px #caeaee;
}

.neuvieme_cours {
    grid-column: 3/3;
    grid-row: 5/7;
    box-shadow: 10px 10px #caeaee;
}

.dixieme_cours {
    grid-column: 1/1;
    grid-row: 7/9;
    box-shadow: 10px 10px #caeaee;
}

