<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleLayout.css">

    <!-- link for font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https : //fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https : //fonts.googleapis.com/css2? family= Quicksand:wght@300 & family= Roboto:wght@100 & display=swap" rel="stylesheet">

    <title>navigateur et footer</title>
</head>
<body>
    <header id="headerContent">
        <div id="header">
            <div id="logo"><p><a href="#">DigitalRead</a></p></div>
            <nav>
                <ul>
                    <li><a href="#">Acceuil</a></li>
                    <li><a href="#">Categorie</a></li>
                </ul>
                <div class="commu">
                    <p>Communoté</p>
                    <img src="../../Fonts/downBack.svg" alt="" srcset="">
                </div>
                <div id="commuMenu" class="menuHidden">
                    <a href="#"><p>Blog</p></a>
                    <a href="#"><p>Forum</p></a>
                </div>
            </nav>
        </div>
    </header>

    <main>

    </main>

    <footer>
        <div class="menuFooter">
            
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elite
            </p>
            <ul>
                <li><a href="#"><strong>DigitalRead</strong></a></li>
                <li><a href="#">Qui sommes-nous ?</a></li>
                <li><a href="#">Nous contacter</a></li>
                <li><a href="#">___</a></li>
            </ul>
            <hr style="background-color: #569098;
            width: 3%;">
            <ul>
                <li><a href="#"><strong>Communoté</strong></a></li>
                <li><a href="#">forum</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">___</a></li>
            </ul>
            <hr style="background-color: #569098;
            width: 3%;">
            <ul>
                <li><a href="#"><strong>Reseaux</strong></a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
        <div class="copyR">
            <p><em>copyright</em> &copy; 2021 by DigitalRead</p>
        </div>
    </footer>

    <script src="../js/app.js"></script>
</body>
</html>